<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['']">
        <img src="assets/dc-logo-313x313.svg" alt="Home" style="width: 30px; height: 30px;">
      </a>      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">           
            <a class="nav-link text-light" [routerLink]="['bookmarks/save']">
              <i class="bi bi-bookmark"></i> Save
            </a>
          </li> 
          <li class="nav-item">           
            <a class="nav-link text-light" [routerLink]="['bookmarks/read']">
              <i class="bi bi-check-circle"></i> Read
            </a>
          </li>
          <li class="nav-item">           
            <a class="nav-link text-light" [routerLink]="['bookmarks/currently-reading']">
              <i class="bi bi-book"></i> Currently reading
            </a>
          </li>
          <!-- <li class="nav-item">           
            <a class="nav-link text-light" [routerLink]="['bookmarks/category']">
              <i class="bi bi-layers"></i> Category
            </a>
          </li> -->
          <ng-container *ngIf="user !== undefined && (user?.roles?.includes('Employee') || user?.roles?.includes('Admin'))">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['admin/categories']">Category</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ng-container>
         

          <li>
            <form class="d-flex" role="search" (ngSubmit)="onSearch()">
              <input [(ngModel)]="searchQuery" name="searchQuery" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button [routerLink]="['comic/search']"  class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        
        

        <ng-container class="d-flex ms-5"  *ngIf="user === undefined; else showLogout ">
          <a [routerLink]="['/login']" class="btn btn-warning">Login</a>
        </ng-container>
        <ng-template #showLogout>
            <div class="d-flex align-items-center ">
              <span class="text-white-50">{{user?.email}}</span>
              <button class="btn btn-warning ms-3" (click)="OnLogout()">Logout</button>
            </div>
        </ng-template>
        
      </div>
    </div>
  </nav>