body{
  background-color: black;
}
body h1, body h2, body h3, body h4, body p  {
  color: white;
}
body small{
  color: #83848f;
}
.d-none {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}



/* css footer */


 
