<!-- <h3 id="commentss">commentss</h3>
<ng-container *ngIf="comic.commentss" >
  <div *ngFor="let cmt of comic.commentss" class="comments-box">
    <div class="comments-header">
        <div class="user-avatar"></div>
        <div>
            <strong class="text-white">{{cmt.applicationUser.userName}}</strong>
            <div class="comments-meta">{{cmt.createAt | date: 'dd/MM/yyyy'}}</div>
        </div>
    </div>
    <p>
          {{cmt.content}}                
    </p>
    <div class="comments-actions">
        <a href="#" class="action-btn">
            <i class="bi bi-hand-thumbs-up"></i> {{cmt.likeCount}}
        </a>
        <a href="#" class="action-btn">
            <i class="bi bi-hand-thumbs-down"></i> 0
        </a>
        <a href="#" class="action-btn">Reply</a>
        <a href="#" class="action-btn">Report</a>
    </div>
</div>
</ng-container> -->







<div *ngFor="let comment of comments; let i = index" class="comments-box">

  <div class="comments-header">
    <div class="user-avatar"></div>
    <div class="user-info">
      <strong style="font-size: 0.8rem;" class="text-white">{{ comment.applicationUser?.userName }}</strong>
      
      <!-- Nếu đây là bình luận trả lời, hiển thị "Reply to [userName]" -->
      
      <span *ngIf="comment.parentCommentId">        
       <span  style="font-size: 0.8rem;" >  Reply to </span> <span style="color:cornflowerblue; font-size: 0.9rem;">{{ comment.replyUserName }} </span>
      </span>
    </div>

    <div  style="font-size: 0.8rem;"  class=" text-white-50  ms-1">{{ comment.createAt | date: 'dd/MM/yyyy' }}</div>
  </div>

  <p class="text-white-50 m-0">{{ comment.content }}</p>

  <!-- Các hành động -->

  <div class="comments-actions">
    <a>
      <i class="bi bi-heart" style="font-size: 0.8rem;"></i>  <span class="ms-1">{{ comment.likeCount }}</span>
    </a>
    <a class="text-white action-btn" (click)="toggleReplyBox(comment.commentId)">
      <i class="ms-1 bi bi-reply"></i> 
      <span class="action-btn">Reply</span>
    </a>
    <a class="action-btn" style="font-weight: bold;">Report</a>
  </div>
  

  <!-- Hộp thoại phản hồi -->
  <form class="" #form="ngForm" (ngSubmit)="OnSubmitReply(comment.commentId)">
    <div *ngIf="activeReplyId === comment.commentId" class="reply-box">
      <textarea
        rows="3"
        id="content"
        name="content"
        class="form-control"
        [(ngModel)]="model.content"
        placeholder="Write your reply...">
      </textarea>
      <button
        class="btn btn-primary mt-2"
        type="submit">
        Submit
      </button>
    </div>
  
  </form>

  <!-- Đệ quy: Hiển thị các bình luận trả lời -->
  <div class="replies" *ngIf="comment.replies?.length">
    <app-user-reply   [comicId]="comicId"  (commentAdded)="commentAdded.emit($event)"
    [comments]="comment.replies"></app-user-reply>
  </div>
</div>


